.navbar {
    background-color: #000562;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbarfoto {
    display: flex;
    color: white;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.navbarfoto {
    margin: 10px;
}

#navbarlogo {
    width: 80px;
}

.navbaritemlogo {
    width: 30px;
    height: 30px;
}

#growth {
    width: 90%;
}

#selectednav {
    background-color: #f4f4f4;
    border-radius: 10px;
}

#selectednav>a>p {
    color: #57be8e;
}


.content {
    display: flex;
    flex-direction: row;
}

img[src*="logo_white.png"] {
    height: 46px;
    width: 90px;
}

img[src*="profile.png"] {
    border-radius: 50%;
    object-fit: cover;
    height: 30px;
}

body {
    margin: 0;
font-family: arial;
}

.links {
    margin-left: 10px;
    margin-right: 10px;

}

.midden {
    display: flex;
    color: white;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.rechts {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.xpbar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: #85d8e2;
}

.xp {
    background-color: #2396a4;
    height: 30px;
    width: 3%;
    border-radius: 3px;
}

tr {
    border-bottom: 1px solid rgb(128, 128, 128);

}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


.vak1 {
    text-align: left;
    font-size: 15px;
    border-radius: 1px;
    padding: 20px;
    border-collapse: collapse;
    filter: drop-shadow(0px 0px 1px rgb(190, 190, 190));
    background-color: #fefefe;
}

th,
td {
    padding: 20px;
}

td>button {
    background-color: #55bc8c;
    border: none;

    color: white;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: inline-block;

}

td>button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #386e54;
}

.container {
    background-color: #fefefe;
    padding: 20px;
    width: 20%;
    filter: drop-shadow(0px 0px 1px rgb(190, 190, 190));

    margin-top: 10px;
}

.containerfoto {
    display: flex;
    justify-content: center;
}

.blokje {
    background-color: #f4f4f4;
    width: 100px;
    height: 30px;
    color: #13804b;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}